<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Membership</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <%- include('partials/_header') %>
  <form method="POST">
    <h1>Enter the secret to get the membership</h1>
    <input type="text" name="secret" placeholder="secret" />
    <button>enter</button>
  </form>
</body>

</html>