<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <%- include('partials/_header') %>
  <form method="POST">
    <h1>Sign up</h1>
    <input type="text" placeholder="first name" name="first_name" required /> <br>
    <input type="text" placeholder="last name" name="last_name" required /> <br>
    <input type="email" placeholder="email" name="email" required /> <br>
    <input type="password" placeholder="password" name="password" required /> <br>
    <button>Sign up</button>
  </form>
</body>

</html>